{% extends 'base_layout.html' %}

{% block content %}

<h1>Create Competition</h1>
<div class="form">
<form class="site-form" method="post" action="{% url 'comp:add' %}">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" value="Add" />
</form>
</div>

{% endblock %}