{% extends 'base_admin.html' %}

{% block content %}

<h1>{{install.title}} Rounds</h1>

<table class="table">
	<tr>
		<th>Number</th>
		<th>Title</th>
		<th>Action</th>
	</tr>
	{% for round in install.rounds %}
	<tr>
		<th>{{round.number}}</th>
		<th>{{round.title}}</th>
		<th>
			<a href="{% url 'comp:round_edit' install.pk round.number %}" >Edit</a> &emsp;
			<a href="{% url 'comp:round_delete' install.pk round.number %}">Delete</a> &emsp;
			<a href="{% url 'comp:submission_form' install.pk round.number %}">Submission</a> &emsp;
            <a href="{% url 'comp:evaluation_form' install.pk round.number %}">Evaluation</a> &emsp;
		</th>
	</tr>
	{% endfor %}
</table>


{% endblock %}