{% extends 'base_comp.html' %}

{% block content %}
    <br/>
    <br/>

<h1 style="color:#000000" class="text-center">{{install.title}}</h1>
<div class="container">
<div class="col-md-6">
    <div id="logbox">
        <form class= "comp_forms" id="comp_signup" method="post" action="{% url 'comp:comp_register' install.slug %}">
        {% csrf_token %}

        <h1>Sign up to {{ install.title }}</h1>
            {% if messages.level == 20 %}
    <ul class="messages">
{% for message in messages %}
    <li >{{ message }}</li>
    {% endfor %}
</ul>
 {% endif %}
            {{ register_form }}
        <input type="submit" value="Sign up" class="inputButton"/>
        </form>
    </div>
</div>

   <div class="col-md-6">
    <div id="logbox">
      <form class= "comp_forms" id="comp_signin" method="post" action="{% url 'comp:comp_login' install.slug %}">
          {% csrf_token %}
          <h1>Log in to {{ install.title}}</h1>
            {% if messages.level == 30 %}
    <ul class="messages">
{% for message in messages %}
    <li >{{ message }}</li>
    {% endfor %}
</ul>
 {% endif %}
          {{ login_form }}
          <input type="submit" value="Sign in" class="inputButton"/>
      </form>
    </div>
    </div>
  </div>
{% endblock %}
