{% extends 'base_admin.html' %}

{% block content %}

<h1>{{round.title}} Evaluation Form</h1>

<form method="post" action="{% url 'comp:evaluation_form' install.pk round.number %}">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn btn-primary" >Add</button>
</form>
    <br/>
    <br/>
{% for form in round.forms %}
    {% if form.type == 'evl' %}
        {% for field in form.fields %}
    <div style="border: 1px solid #fff; margin-bottom: 10px;padding: 15px;">
        {{ field.label }}
    </div>
        {% endfor %}
    {% endif %}
{% endfor %}


{% endblock %}