{% extends 'base_layout.html' %}

{% block content %}

<h1>My competitions</h1>
<p><a href="{% url 'comp:add' %}" class="btn btn-primary">Create New</a></p>

<table class="table">
	<tr>
		<th>Title</th>
		<th>slug</th>
		<th># of rounds</th>
		<th>Action</th>
	</tr>
	{% for comp in installs %}
	<tr>
		<th>{{comp.title}}</th>
		<th>{{comp.pk}}</th>
		<th>{{comp.rounds.count}}</th>
		<th>
			<a href="{% url 'comp:detail' comp.pk %}" >View</a> &emsp;
			<a href="{% url 'comp:admin'  comp.pk %}">Manage</a>
		</th>
	</tr>
	{% endfor %}
</table>




<script>
	function show_mdl(obj, e){
		e.preventDefault();
		jQuery('.modal').modal('show');
	}
</script>

{% endblock %}