{% extends 'base_admin.html' %}

{% block content %}

<h1>Create Round for {{install.title}}</h1>
<div class="form">
<form class="site-form" method="post" action="{% url 'comp:round_create' install.pk %}">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" value="Add" />
</form>
</div>

{% endblock %}