{% extends 'base_comp.html' %}

{% block content %}
    <br/>
    <br/>
<h1 style="margin-left: 30px">{{ install.title  }} Rounds</h1>
    <ul>
    {% if install.rounds %}
        {% for round in install.rounds %}
        <li style="list-style-type: none"><a href="{% url 'comp:round_form' install.pk round.number %}">{{ round.title }}</a></li>
        {% endfor %}

    {% endif %}
    </ul>
{% endblock %}