{% extends 'base_comp.html' %}

{% block content %}
    <br/>
    <br/>
<h1 style="margin-left: 30px">{{ form.title }}</h1>
    <form style="max-width: 80%; margin: 0 auto" action="{% url 'comp:round_form' slug round %}" method="post">
    {% csrf_token %}
      {% if messages %}
    <ul class="messages">
{% for message in messages %}
    <li >{{ message }}</li>
    {% endfor %}
    {% endif %}
</ul>
        {% if form.fields %}
    {% for field in form.fields %}

        {% if field.type == 'text' %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                <input type="text" name="{{ field.slug }}" class="form-control" {% if field.required %} required="required" {% endif %}/>
            </div>
        {% elif field.type == 'textarea' %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                <textarea name="{{ field.slug }}" class="form-control" {% if field.required %} required="required" {% endif %}></textarea>
            </div>
        {% endif %}

    {% endfor %}
    <input type="submit" value="Submit" />
    {% else %}
        <p class="text-center">Application form is not ready yet.</p>
    {% endif %}
    </form>
{% endblock %}