body{
    background-color: #a9a9a9;
}

.wrappertest{
    width: 90%;
    margin: 0 auto;
}
div.wrappertest > h1{
    text-align: center;
    /*margin: 90px auto;*/
    font-size: 2.4em;
    color: white;
}

label{
    color: white;
}

.helptext{
    display: none;
}

.actionbutton{
    list-style-type: none;
    width: auto;
    display: inline;
    margin-left: 40px;
    justify-content: center;
}
.actionbutton > a {
    color: #ffffff;
    text-decoration: none;
}

.actionbutton > a:hover {
    color: #ffffff;
    text-decoration: none;
}

#actionul{
    text-align: center;
}

h2 > a{
    color: white;
    text-decoration: none;
}
.posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.post{
    padding: 10px;
    border: 1px solid #00dba0;
    position: relative;
    padding-bottom: 40px;
}

div.form
{
    display: block;
    text-align: center;
}
.site-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 1px solid #00dba0;
    padding: 50px;
    width: 1000px;
}

.site-form input, .site-form textarea{
    display: block;
    padding: 10px;
}

.site-form input[type="submit"] {
    background: #00dba0;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}

.post{
    margin-bottom: 40px;
}
.post h2 > a {
    color: white;
    text-decoration: none;
}


li > a, li > a:hover{
    color: white;
    text-decoration: none;
}

.post p {
    color: white;
}

.wrappertest > h2, .wrappertest > p{
    color: white;
}

#logout_base{
    background: #00dba0;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}

.logout-link{
    display: inline;
}
#posts_title{
    margin-top: 0px;
}
.list-group-item a,
.list-group-item a:hover{
    color: #000;
}

/*Styling for the login/sign up for a competition*/
::selection {
  background-color: #b5e2e7;
}

::-moz-selection {
  background-color: #8ac7d8;
}

#comp_main{
  background: #3CC;
}

.container {
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

#logbox {
  padding: 10px;
  margin: 50px auto;
  width: 340px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.comp_forms > h1 {
  text-align: center;
  font-size: 140%;
  color: #757575;
  font-weight: 300;
}

.comp_forms > h1{
  font-family: "Open Sans", Helvetica, sans-serif;
}

.comp_forms > input{
  font-family: "Open Sans", Helvetica, sans-serif;
}

.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}
.input:focus {
  outline: none;
  border-bottom-color: #3CC !important;
}
.input:hover {
  border-bottom-color: #dcdcdc;
}
.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
  position: relative;
  width: 85%;
  height: 50px;
  display: block;
  margin: 30px auto 30px;
  color: white;
  background-color: #3CC;
  border: none;
  -webkit-box-shadow: 0 5px 0 #2CADAD;
  -moz-box-shadow: 0 5px 0 #2CADAD;
  box-shadow: 0 5px 0 #2CADAD;
}
.inputButton:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 #2CADAD;
  -moz-box-shadow: 0 3px 0 #2CADAD;
  box-shadow: 0 3px 0 #2CADAD;
}
.inputButton:active {
  top: 5px;
  box-shadow: none;
}
.inputButton:focus {
  outline: none;
}
