{% extends 'base_layout.html' %}

{% block content %}

<h1>User Management</h1>

<table class="table">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Last Access</th>
		<th>Action</th>
	</tr>
	{% for user in users %}
	<tr>
		<th>{{user.username}}</th>
		<th>{{user.pk}}</th>
		<th>{{user.last_access}}</th>
		<th>
			<a href="#/edit" onclick="show_mdl(this, event)" data-toggle="modal" data-user="{{user.pk}}" data-target="#{{user.username}}Mdl">Edit</a> &emsp;
			<a href="{% url 'users:delete' user.username %}">Delete</a>


			<!-- Modal -->
			<div class="modal" id="{{user.username}}Mdl" tabindex="-1" role="dialog" aria-labelledby="usrMdlLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <form action="{% url 'users:edit' user.username %}" method="post">
			      	{% csrf_token %}
				      <div class="modal-body">
				        <label for="userrole">User Role</label>
				        <select id="userrole" name="role">
				        	<option value="">- Select Role -</option>
				        	<option value="participant">Participant</option>
				        	<option value="judge">Judge</option>
				        	<option value="admin">Admin</option>
				        </select>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button type="submit" class="btn btn-primary">Save changes</button>
				      </div>
			  	  </form>
			    </div>
			  </div>
			</div>
		</th>
	</tr>
	{% endfor %}
</table>




{#<script>#}
{#	function show_mdl(obj, e){#}
{#		e.preventDefault();#}
{#		jQuery('.modal').modal('show');#}
{#	}#}
{#</script>#}

{% endblock %}