{% extends 'base_layout.html' %}

{% block content %}


<h1>Login</h1>
    <div class="form">
      <form class="site-form" action="{% url 'users:login_user' %}" method="post">
        {% csrf_token %}
          {% if error_msg %}
   <div class="alert alert-danger">
   <strong>{{ error_msg }}</strong>
   </div>
{% endif %}
        {{ form }}
        <input type="submit" value="Login">
    </form>
    </div>

{% endblock %}
