{% extends 'base_layout.html' %}

{% block content %}
<style type="text/css">
	.site-form p:first-of-type{
		width: 50%;
    	float: left;
	}
	h5{ color: #fff; }
</style>
<h1>User Profile</h1>
<div class="form">
    <form class="site-form" action="{% url 'users:profile' %}" method="post">
        {% csrf_token %}
        <h5>Name</h5>
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
</div>

{% endblock %}