{% extends 'base_layout.html' %}
{% block content %}
{% if error_msg %}
   <div class="alert alert-danger">
   <strong>{{ error_msg }}</strong>
   </div>
{% endif %}


<h1>Signup</h1>
    <div class="form">
    <form class="site-form" action="{% url 'users:register_user' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Signup">
    </form>
    </div>
{% endblock %}