{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>


    
    <meta charset="UTF-8">
    <title>Mini Compete</title>
</head>
<body>
<div class="wrappertest">
    <h1><a href="#"><img src="{% static 'logo.png' %}"/></a></h1>

    <div class="row">
        <div class="col-md-8">
        {% block content %}
        {% endblock %}
        </div>
        <div class="col-md-4">
            <ul class="list-group">
              <li class="list-group-item"><a href="{% url 'comp:round_create' install.pk %}">New Round</a></li>
              {% if install %}
              <li class="list-group-item"><a href="{% url 'comp:admin' install.pk %}">All Rounds</a></li>
              {% endif %}

              {% if '_auth_user_id' in request.session %}
                <li class="list-group-item">
                    <form class="logout-link"  action="{% url 'users:logout_user' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
               {% endif %}
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
</div>
</body>
</html>