{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>


    <meta charset="UTF-8">
    <title>Mini Compete</title>
</head>
<body>
<div class="wrappertest">
    <h1><a href="#"><img src="{% static 'logo.png' %}"/></a></h1>
    <nav>
        <ul id="actionul">
            {% if '_auth_user_id' in request.session %}
                <li class="actionbutton">
                    <form class="logout-link"  action="{% url 'users:logout_user' %}" method="post">
                        {% csrf_token %}
                        <button id="logout_base" type="submit">Logout</button>
                    </form>
                </li>
                <li class="actionbutton"><a href="{% url 'users:profile' %}" class="highlight">Profile</a></li>
                {% if '_authorized' in request.session %}
                    <li class="actionbutton"><a href="{% url 'users:all' %}" class="highlight">Manage Users</a></li>
                    <li class="actionbutton"><a href="{% url 'comp:comp_list' %}" class="highlight">Manage Competitions</a></li>
                {% endif %}

            {% else %}
                <li class="actionbutton"><a href="{% url 'users:login_user' %}">Login</a></li>
                <li class="actionbutton"><a href="{% url 'users:register_user' %}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
</div>
</body>
</html>